@font-face {
font-family:"raleway";
font-style: normal;
font-weight: 800;
src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
font-display: swap;
}

@font-face {
  font-family:"rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
    font-family:"rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
    }
    html {
    height: 100vh;
    }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "rubik", "sans-serif";
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color:#FFFFFF;
    text-align: left;
    margin: 0;
  }
  .container {
    margin: 0 auto;
    width: 1160px;
  }
  .main-navigation {
    display: flex;
    justify-content: space-between;
  }
  .main-container {
    flex-grow: 1;
  }
  .catalog-header-container {
    background-color: #FFE17F;
    height: 140px;
    position: relative;
    margin-top: 40px;
    color:#000000;
    padding-top: 46px;
  }
  .main-header-container {
    background-color: #FFE17F;
    height: 254px;
    position: relative;
    margin-top: 40px;
    color:#000000;
    padding-top: 46px;

  }
  .main-catalog-header {
    color:#000000;
    background-color: #FFE17F;
    height: 186px;
    margin-top: 40px;
    position: relative;
  }

ul {
list-style: none;
margin: 0;
padding: 0;
}
.navigation-top {
  display: flex;
  width: 1040px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 35px;
  align-items: center;

}
.navigation-bottom {
  display: flex;
  width: 1040px;
  height: 40px;
  align-items: center;
  margin: 0 auto;

}
.navigation-search-form {
  width: 517px;
  height: 40px;
}
.user-image {
  margin-left: 27px;
}
.user-navigation-item-entare {
  margin-left: 13px;
}
.compare-image {
  margin-left: 168px
}
.user-navigation-item-compare {
  margin-left: 12px ;
}
.basket-image {
  margin-left: 33px;
}
.user-navigation-item-basket {
  margin-left:12px;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  margin-left: auto;

}

.site-navigation-item-not-last {
  margin-right: 49px;
}
.main-logo {
  margin-left:60px;
  position: absolute;
  top:-20px;
}
.site-navigation-item-button {
  height: 20px;
  font-family: "raleway","sans-serif";
  color: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0px;
  background-color: #FFE17F;
  width: auto;
  padding: 0px;
}
.user-navigation-item {
  font-family: "rubik", "sans-serif";
  color: inherit;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.site-navigation-item {
  font-family: "raleway","sans-serif";
  color: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.main-index {
background-color: #FFFFFF;
background-size: auto;
}

.slider {
  height: 400px;
}
.quadrocopter-description {
  margin: 0;;
  padding: 0;
  max-height: 560px;
}
.quadrocopter-description-phrase{
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 0;
}
.quadrocopter-description-text {
  margin-top: 29px;
  margin-bottom: 60px;
}
.quadrocopter-advantage-list {
  margin-top: 60px;;
}
.quadrocopter-description-container {
  width: 560px;
  height: auto;
  margin-left: 40px;
}
.slider-1-image {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  top:-70px;
}
.quadrocopter-advantage-list {
  display: table;

}
.cell {
  display: table-cell;

}
.row {
  display: table-row;
}
.quadrocopter-slider-group {
 display:flex;
 width: 1160px;
 height:480px ;
 margin: 0 auto;
 position: relative;
 top:-80px;
}
.fifty-metres {
  padding-left: 20px;
}
.radious-of-destraction {
  padding-left: 20px;
}
.quadrocopter-detaild-description,
.detail-information-about-company,
.contact-link {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.delivery-service-item-button {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  width: 160px;
  height: 40px;
  padding: 0;
  padding-right: 30px;
}
.slider-number {
  font-family: "rubik","sans-serif";
  color: #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  font-style: bold;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  height: 135px;
  margin-left: 861px;
  position: absolute;
  bottom:-70px;
}

.quadrocopter-advantage-item-metres{
  font-family: "rubik","sans-serif";
  color: #000000;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin:0;
}
.quadrocopter-advantage-item-description{
  font-family: "rubik","sans-serif";
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.device-list{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.device-list-item {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;

  padding-top: 192px;
  width: 160px;
  display: block;
  position: relative;
}
.device-list-item::before{
  content: "";

  width: 160px;
  height: 160px;
  background-color: #FFE17F;

  position: absolute;
  top: 0;
  right: 0;
}
.device-list-item--glasses::after {
  content: "";
  background-image: url('../images/product-list/glasses.svg');
  width: 97px;
  height: 55px;
  position: absolute;
  top: 54px;
  left: 32px;
}
.device-list-item--monopod::after {
  content: "";
  background-image: url('../images/product-list/monopod.svg');
  width: 86px;
  height: 117px;
  position: absolute;
  top: 43px;
  left: 37px;
}
.device-list-item--cameras::after {
  content: "";
  background-image: url('../images/product-list/cameras.svg');
  width: 71px;
  height: 87px;
  position: absolute;
  top: 37px;
  left: 44px;
}
.device-list-item--fitness-bracelet::after {
  content: "";
  background-image: url('../images/product-list/fitness-bracelet.svg');
  width: 107px;
  height: 65px;
  position: absolute;
  top: 48px;
  left: 26px;
}
.device-list-item--whatches::after {
  content: "";
  background-image: url('../images/product-list/watches.svg');
  width: 56px;
  height: 98px;
  position: absolute;
  top: 32px;
  left: 52px;
}
.device-list-item--quadrocopters::after {
  content: "";
  background-image: url('../images/product-list/quadrocopters.svg');
  width: 132px;
  height: 69px;
  position: absolute;
  top: 46px;
  left: 14px;
}
.delivery-top {
  background-color: #F0F0F0;
}
.delivery-container {
  display:flex;
  height: 289px;
  margin-top: 172px;
}
.delivery-menu-container {
  width: 287px;
}
.black-vertical-line {
  display: flex;
  width: 7px;
  height: 319px;
  margin-left: 280px;
  background-color: #000000;
  position: relative;
  top: -327px;
}
.delivery-service-list{
  position: relative;
  top:-40px
}
.delivery-service-item{
  height: 40px;
}
.delivery-service-item--active{
  background: #000000;
  color: #FFE17F;
}
.delivery-service-item:not(last-child){
  margin-bottom: 35px;
}

.delivery-service-item-link {
  width: 160px;
  text-align: center;
  display: inline-block;
}

.delivery-description-text {
  margin: 0;
  margin-bottom: 144px;
}
.delivery-description-header {
  margin: 0;
}
.delivery-description-header {
  position: relative;
  top:-30px
}
.delivery-description-container {
  margin-left: 116px;
}
.running-man {
  margin-left: 110px;
  position: relative;
  top: -25px;
}
.delivery-track-container {
  width: 125px;
  height:auto;
  background-color: #FFE17F;
}
.delivery-track {
  margin-top: 35px;
  margin-left: 39px;
}
.main-delivery-button-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 1160px;
  height: 100px;
  margin-top: 70px;
}
.auxiliary-information-container {
  width: 125px;
  height: auto;
  background-color: #F0F0F0;
}
.auxiliary-information-circle-container {
  width: 40px;
  height: 40px;
  margin: 30px auto;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}
.auxiliary-information {
  width: 2px;
  height: 12px;
  opacity: 0.3;
}
.producer-contacts-information-container {
  min-height: 545px;
  display: flex;
  margin-top: 70px;
}
.visually-hidden {
  display: none;
}
.contacts {
  margin-left: auto;
}
.producer-information-header,
.contacts-header {
  margin-top: 47px;
  margin-bottom: 0;
}
.about-variaty-gadget,
.ofice-probability {
  margin-top: 48px;
  margin-bottom: 30px;
}
.delivery-probability {
  margin-bottom: 30px;
}
.available-delivery-company-list {
  margin-left: 20px;
  padding: 0;
}
.available-delivery-company-item{
  padding-left: 15px;
  margin-bottom: 19px;
}

.detail-information-about-company {
  display: flex;
  margin-top: 40px;
}
.name-of-store-header {
  margin-bottom: 15px;;
}
.no-footer-adress {
  margin-top: 15px;
  margin-bottom: 30px;
}
.work-time {
  margin-bottom: 15px;
}
.shedule {
  margin-top: 15px;
  margin-bottom: 40px;
}
.contact-link {
  display: flex;
  align-items: flex-end;
}

.newsletter-container {
  height: 301px;
  margin-top: 70px;
  padding: 56px;
}
.newsletter-header {
  margin: 0;
}
.newsletter-description {
  margin-bottom: 0;
  margin-top: 10px;
  padding-right: 34px;
}
.newsletter-top {
  display: flex;
  justify-content: space-between;
}
.newsletter-bottom {
  display: flex;
  margin-top:144px;
  height: 57px;
  justify-content: space-between;
  align-items: center;

}
.newsletter-subscribe-form {
  margin-right: 8px;
}
.check-mark {
  margin-right: 16px;
}
.newsletter-subscribe-form {
  width: 810px;
  height: 57px;
}
.footer-container {
  height: 321px;

}
.main-footer {
  background-color: #444444;
}
.main-logo-yellow {
  margin-top: 62px;
}

.footer-top {
  display: flex;
  width: 1160px;
  height: 40px;
  margin:0 auto;
  margin-top: 35px;
  margin-bottom: 47px;
  justify-content: space-between;
  align-items:flex-start;
}
.footer-bottom {
  display:flex;
  width: 1160px;
  height: 40px;
  margin:0 auto;
  justify-content: space-between;
  align-items: center;
}
.yellow-rectangle {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}
.delivery-service-footer-list {
  display: flex;
  justify-content: space-between;
}
 .delivery-service-footer-item:not(last-child){
  margin-right: 35px;
}

.social-network-list-container {
margin-left: 95px;
}

.social-network-list {
  display: flex;
  justify-content: space-between;
}
.social-network-item:not(last-child){
  margin-right: 40px;
}
.delivery-service-list-header {
  font-family: "raleway","sans-serif";
  color: #FFE17F;
  background-color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  top:-40px;
  padding-left: 20px;
}
h2 {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
.delivery-information,
.main-delivery-button{
  background-color: #F0F0F0;
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
  width: 910px;
  padding: 40px 0;
  border:0;
}
.delivery-track {
  background-color: #FFE17F;
}
.available-delivery-company-item {
  font-family: "rubik","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  list-style-type: disc;
}
li::marker {
  color: #FFC700;
  padding: 0;
}
.contact-header {
  font-family: "rubik","sans-serif";
  color: #444444;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  list-style-type: disc;
}
.newsletter {
  background-color: #F0F0F0;
}
.newsletter-subscribe-form-button {
  background-color: #F0F0F0;
  font-family: "raleway","sans-serif";
  border:none;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  visibility: hidden;
}
footer {
  color: white;
}
.social-network-item {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-color: #FFFFFF;
  opacity: 30%;
  border-radius: 50%;
}
.adress {
  font-family: "rubik","sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}
.telephone-number {
  font-family: "rubik","sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: none;
  margin-top:7px
}
.delivery-service-footer-item {
  font-family: "raleway","sans-serif";
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.device-list-image {
  background-color: #FFE17F;
  background-size: 160px 160px;
}

.main-inner {
  color: #000000;
}
.inner-header {
  background-color: #FFFFFF;
}
.breadcrumbs-item {
  font-family: "rubik","sans-serif";
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
.breadcrumbs-item-button {
  font-family: "rubik","sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  border:none;
  background-color: #FFFFFF;
}
.catalog-products {
  background-color: #F0F0F0;
  width: 100%;
}
.catalog-filter-group {
  border: none;
}
.filter-header,
.sorting-header {
  font-family: "raleway","sans-serif";
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.sorting-header {
  margin-left: 40px;
}
.catalog-filter-title,
.product-item-link {
  font-family: "rubik","sans-serif";
  color: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
  text-decoration: none;
}
.catalog-filter-item {
  font-family: "rubik","sans-serif";
  color: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}
.filter-activation-button {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #F0F0F0;
}
.select-control {
  font-family: "rubik","sans-serif";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  border: none;
  background-color: #F0F0F0;
}
.product-item-and-cost-container {
  display: flex;
  margin-top: 24px;
  max-width: 360px;
}
.product-list-title {
  margin: 0;
}
.product-item-price {
  font-family: "rubik","sans-serif";
  color: #444444;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  margin-left: auto;
}
.pagination-download-more {
  font-family: "raleway","sans-serif";
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #FFFFFF;
}
.pagination {
  background-color: #EBEBEB;
}
.pagination-disabled {
  font-family: "raleway","sans-serif";
  color: #444444;
  opacity: 30%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.pagination-current-link {
  font-family: "rubik","sans-serif";
  color: #444444;
  opacity: 60%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
.pagination-link {
  font-family: "rubik","sans-serif";
  color: #444444;
  opacity: 30%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration:none;
}
.pagination-next {
  font-family: "raleway","sans-serif";
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/* сетки Каталога*/
.monopods-for-selfi {
  margin: 0;
}

.inner-header-container {
  width: 541px;
  height: 86px;
  margin: 35px 699px 34px 60px;
}
.breadcrumbs {
  margin-right: 112px;
  display: flex;
  justify-content: space-between;
}
.breadcrumbs-item-button {
  padding: 0;
}
.catalog-products {
  display: flex;
}
.main-content-container {
  display: flex;
  width: 100%;
  background-color: #F0F0F0;
}
.catalog-container {
  width: 100%;

}
.filter-container {
  margin-left: 60px;
  width: 220px;
}
.sorting {
  display: flex;
  width: 840px;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.product-list {
  padding-top: 70px;
  margin-left: 40px;
  display: grid;
  grid-template-columns:repeat(2, 360px);
  grid-column-gap:40px;
  grid-row-gap:44px;

}
.product-list-container {
  margin-left: 84px;
  height: 1310px;
  background-color: #FFFFFF;
}
.pagination-container {
  background-color: #EBEBEB;
  margin: 0 auto;
  padding: 25px;
  width: 720px;
  height: 21px;
  margin-top: 44px;
}
.pagination {
  display: flex;
  justify-content: space-between;
}
.pagination-download-more {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.pagination-download-more-container {
  border: 4px solid #F0F0F0;
  width: 760px;
  height: 18px;
  margin: 0 auto;
  margin-top: 44px;
  padding:18px 0;
  align-items: center;
}
.pagination-numbers {
  display: flex;
  justify-content: space-between;
}
.pagination-item-pagination-numbers {
  margin-right: 30px;
}
